<footer class="main-footer">
    <strong>Telif Hakkı Tamamen Infinity Şirketine Aittir; ∞2014-2021∞ <a href="http://localhost:5169/AdminPanel/Home/Index">Infinity Platform</a>.</strong>

    Her hakkı saklıdır.
    <div class="float-right d-none d-sm-inline-block">
        <b>Her zaman daha da ileri</b> Infinity Platform
    </div>
</footer>